html{
  font-size: 100%;
  background: black;}
body {font-family: Verdana, sans-serif; margin:0;}



/*CSS PRÓPRIOS DO HOME */

/*----------------------------Slideshow Box----------------------------------*/

/* Caixa do Slideshow ( estrutura e tamanho ) */

{box-sizing: border-box;}
.Imagens {display: none;}
img {vertical-align: middle;
  position: relative;}

.slideshow-container {
  max-width: 50%;
  position: absolute;
  margin: auto;
  float:left;

  /* Border personificada*/
  border: 10px solid transparent;
  border-image-source: url(../imagens/border_personificada.png);
  border-image-slice: 30;
}
/* Setas no SlideShow */
.prev, .next {
  cursor: pointer; /* automaticamente encostado a esquerda*/
  position: absolute;
  top: 50%; /*alinha ao centro do slideshow (altura)*/
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* 2ª Seta para a direita ( a do next )*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Background em ambas as setas quando o rato está em cima delas */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Pontos no slideshow */
.dot {
  position: relative;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; /*força os a ficar em linha*/
  transition: background-color 0.6s ease;
}
/* Quando o rato vai para cima dos pontos em baixo do slide, ficam quase pretos, o active serve para quando ele está nesse slide, a cor do ponto permanecer como se estivesse em hover*/
.active, .dot:hover {
  background-color: #717171;}

/* Animação Fade dos Pontos e Setas */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;}

/* Animação Fade das Imagens do Slide ao mudarem */

@-webkit-keyframes fade {
  from {opacity: 0.1}        /*TESTAR ISTO QUE NÃO ESTÁ A FUNCIONAR!*/
  to {opacity: 1}}

#AnimeTitle{
  position: absolute;
  bottom:11rem;}

#SlideShowText{

  text-align: justify;
  position: absolute;
  margin-right:8%; /* margens à direita apenas no texto ao lado do slideshow */
  margin-left: 1%; /* margens à esquerda apenas no texto ao lado do slideshow */
  top:20rem;
  left:52%;
  font-size: 1rem;
  color: lightcyan;}

/*Div separadora */
#spacer {
  height: 30rem;}

/*-------------------------Bottom Images-------------------------------*/

#BottomImages{
  display: flex; /* dispõe em linha as imagens */
  text-align: center;
  left: 11.5%;
  position: relative;
  color: lightcyan;}

/*-------------------------Fim Bottom Images-----------------------------*/

/*FIM DOS CSS PRÓPRIOS DO HOME */

/*CSS PRÓPRIOS DO ABOUT */

#sectionAbout {
  margin: auto; /* Retirar caso queiramos as coisas alinhadas à esquerda.*/
  border: 10px solid transparent;
  border-image-source: url(../imagens/border_personificada.png);
  border-image-slice: 30;
  box-sizing: border-box;
  width: 79rem;  /*escala a border juntamente com tudo lá dentro (porque escala a section)*/
  height: 35rem;
  padding-right: 10%; /* adiciona padding à direita */
  text-align: justify;
  color:lightcyan;}

#sectionAbouut {
  margin:auto; /* Retirar caso queiramos as coisas alinhadas à esquerda.*/
  box-sizing: border-box;
  border: 10px solid transparent;
  border-image-source: url(../imagens/border_personificada.png);
  border-image-slice: 30;
  width: 79rem; /*escala a border juntamente com tudo lá dentro (porque escala a section)*/
  height: 36rem;
  padding-right: 10%; /* adiciona padding à direita */
  text-align: justify;
  color:lightcyan;}

#sectionAbouuut {
  margin:auto; /* Retirar caso queiramos as coisas alinhadas à esquerda.*/
  box-sizing: border-box;
  border: 10px solid transparent;
  border-image-source: url(../imagens/border_personificada.png);
  border-image-slice: 30;
  width: 79rem;  /*escala a border juntamente com tudo lá dentro (porque escala a section)*/
  height: 44rem;
  padding-right: 10%; /* adiciona padding à direita */
  text-align: justify;
  color:lightcyan;}

ol{
  font-size: 1rem;
  margin-right:8%; /*adiciona a margem na direita do ecrã, mas dentro da border.*/}


/* FIM DOS CSS PRÓPRIOS DO ABOUT */

/*CSS PRÓPRIOS DO CONTACT*/

.information{
  color: lightcyan;
  display: inline-block;
}


#sectioncontact1{
  position: relative;
  padding-top: 7%;
}

#sectioncontact2{
  position: relative;
  padding-top: 5%;
}

#h3contact{
  position: relative;
  top:5rem;
}

/*FIM DOS CSS PRÓPRIOS DO CONTACT*/

/* Outros componentes comuns ao site */

/*-----------------------------Header Title--------------------------------------*/
#HomeTitle{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:lightcyan;}
/*----------------------------Fim Header-------------------------------*/


/*--------------------------------Dropdown Menu-----------------------------------*/
nav{
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}
nav ul {
  position: relative;
  display: inline-block;
  right:10%;}

nav ul li ul {
  position: absolute;
  top: auto;
  right:-1rem;}

nav ul ul{
  display: none;
  top:5px;}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  color: lightcyan;}
nav ul li{
  position: relative;
  display: block;
  float: left;
  padding: 3px 10px;}

nav ul li:hover > ul{
  margin: 0;
  padding:0;
}

nav ul li:hover > ul li{
  float:none;
  display: block;
}

nav ul li:hover > ul {
  display: block;}
/*Fim do Menu DropDown*/
/*----------------------------Fim do Menu DropDown------------------------------*/

h2{
  font-size: 1rem;}

h3{
  color: lightcyan;
  font-size: 150%;}

footer{
  top:6rem;
  text-align: center;
  position: relative;
  font-size: 1rem;
  color: lightcyan;
  font-family: 'Open Sans', sans-serif;}


/* ajusta o texto em ecrãs mais pequenos ( responsividade ) */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}}

